<app-dashboard-component></app-dashboard-component>

<div class="change-password-header col-sm-12 col-lg-12 text-left">
  <h3 class="change-password-header-font">Change Password</h3>
</div>

<nz-card class="card-design">
  <h3 class="Password-guidelines">Password Guidelines:</h3>
  <p class="password-description">
    Your password must be at least 8 characters long, contain at least one
    number, one special character, and have a combination of uppercase and
    lowercase letters.
  </p>

  <form [formGroup]="passwordForm" class="container-fluid">
 
    <div class="row" >
      <div nz-col nzSpan="8">
        <p>
          <nz-form-item class="col-lg-4 col-md-4 col-sm-12">
            <input class="input" placeholder="Current Password*" type="password" formControlName="currentPassword"
              ng-touched />
            <div *ngIf="
              passwordForm.controls['currentPassword'].invalid &&
              (passwordForm.controls['currentPassword'].dirty ||
                passwordForm.controls['currentPassword'].touched)
            ">
              <small *ngIf="
                passwordForm.controls['currentPassword'].errors?.required
              " class="text">Please Enter Password</small>
            </div>
          </nz-form-item>
        </p>

      </div>
      <div nz-col nzSpan="8" class="col-lg-4 col-md-4 col-sm-12">
        <p>
          <nz-form-item>
            <input class="input" placeholder="New Password*" type="password" id="newPassword"
              formControlName="newPassword" />
            <div *ngIf="
            passwordForm.controls['newPassword'].invalid &&
            (passwordForm.controls['newPassword'].dirty ||
              passwordForm.controls['newPassword'].touched)
          ">
              <div *ngIf="passwordForm.controls['newPassword'].errors?.required" class="text">
                New password is required
              </div>
              <div *ngIf="passwordForm.controls['newPassword'].errors?.minlength" class="text">
                New password must be at least 8 characters long
              </div>
              <div *ngIf="passwordForm.controls['newPassword'].errors?.pattern" class="text">
                New password must contain at least one number, one special
                character, and have a combination of uppercase and lowercase
                letters
              </div>
            </div>
          </nz-form-item>
        </p>

      </div>
      <div nz-col nzSpan="8" class="col-lg-4 col-md-4 col-sm-12">
        <p>
          <nz-form-item>
            <input class="input" placeholder="Confirm New Password*" type="password" id="confirmPassword"
              formControlName="confirmPassword" required />
            <div *ngIf="
            passwordForm.controls['confirmPassword'].invalid &&
            (passwordForm.controls['confirmPassword'].dirty ||
              passwordForm.controls['confirmPassword'].touched)
          ">
              <div *ngIf="
              passwordForm.controls['confirmPassword'].errors?.required
            " class="text">
                Confirm password is required
              </div>
              <div *ngIf="passwordForm.controls['confirmPassword'].errors?.match" class="text">
                New password and confirm password do not match
              </div>
            </div>
          </nz-form-item>
        </p>

      </div>
    </div>


  </form>
</nz-card>

<button class="Buttons" nz-button nzType="primary" (click)="passwordMatchValidator('', ''); onSubmit()">
  Save
</button>

<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" [nzBodyStyle]="{ padding: '0', height: '180px' }">
  <ng-container *nzModalContent>
    <h2 class="alert-header">
      <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span> Alert
    </h2>
    <p class="alert-message">Success! Your password has been changed!</p>
    <button class="no-button" (click)="isVisible = false" routerLink="/dashboard-component">
      Ok
    </button>
  </ng-container>
</nz-modal>
<button class="Buttons2">Cancel</button>