
.ant-tabs-tab{
   width: grey
}

:root {
   --primary-color: #5a36a2; 
   --secondary-color: white;
   --primary-red: red;
   
 }

 .ant-card-bordered {
border: none !important;
}

.ant-col-8 {
   max-width: none !important;
 }

 .ant-col-5 {
   max-width: none !important;
 }

