<app-dashboard-component></app-dashboard-component>

<div class="terms-header col-sm-12 col-lg-12 text-left">
    <h3 class="terms-header-font">Terms & Conditions</h3>
</div>

<div class="container">
    <div class="time-details">
        <p class="text-center"><strong><span class="text-underline">TERMS AND CONDITIONS</span></strong></p>
        <p>
            SwissRollCall, Inc. (“<strong>SwissRollCall</strong>”) is an Illinois corporation. SwissRollCall provides a software
            application (“the <strong>App</strong>”) which is available for download on computer and mobile devices. The
            App can be used with SwissRollCall’s services (“the <strong>Services</strong>”) to track legislative proposals
            and to assign and organize related information in one platform. The App and Services include functionality
            to help users report on lobbyist efforts and progress around certain bills, set legislator assignment for a
            team of lobbyists, define a roll call deadline, and share information with other individuals within your
            organization. By downloading or using the SwissRollCall app, you agree with, and accept, the following terms and
            conditions (“the <strong>terms</strong>”). It is important that you read these terms carefully because they
            will apply to all users of the App and the Services, including you.
        </p>
        <p><strong>1. <span class="text-underline">Contractual Relationship</span></strong></p>
        <p>
            These terms govern your access or use of the App. By accessing or using the App, you confirm your agreement
            to be bound by these terms. These terms expressly supersede any prior agreement you may have had with
            SwissRollCall. From time to time, SwissRollCall may supplement or amend the terms. Such supplements or amendments
            shall be effective upon SwissRollCall’s posting of such terms at this location, or through any other means of
            giving notice to you, including by posting such supplement or amendment to its website located at <a
                href="https://getSwissRollCall.com/" target="_blank">www.getSwissRollCall.com</a>.
        </p>
        <p><strong>2. <span class="text-underline">Arbitration Agreement</span></strong></p>
        <p>
            <strong>
                IMPORTANT: PLEASE REVIEW THE ARBITRATION AGREEMENT SET FORTH BELOW CAREFULLY, AS IT WILL REQUIRE YOU TO
                RESOLVE DISPUTES WITH SwissRollCall ON AN INDIVIDUAL BASIS THROUGH FINAL AND BINDING ARBITRATION. BY
                ENTERING THIS AGREEMENT, YOU EXPRESSLY ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND ALL OF THE TERMS OF
                THIS AGREEMENT AND HAVE TAKEN TIME TO CONSIDER THE CONSEQUENCES OF THIS IMPORTANT DECISION.
            </strong>
        </p>
        <p>
            By agreeing to these terms, you agree that you are required to resolve any claim that you may have against
            SwissRollCall on an individual basis, before an arbitrator. It should be understood that this clause involves a
            waiver of your rights to file suit against SwissRollCall in any state or federal court. Because your disputes
            must be resolved by way of arbitration (“the Arbitration”), you agree that you are precluded from bringing
            any class, collective, or representative action against SwissRollCall. Instead, your disputes shall be resolved
            in an arbitration proceeding, by an arbitrator, in Chicago, Illinois, through a summary procedure involving
            limited discovery. The arbitrator shall be jointly appointed, and the arbitrator’s decision shall be final
            and binding. You and SwissRollCall agree to evenly divide the cost of the Arbitration.
        </p>
        <p><strong>2.1. Waiver of right to jury trial</strong></p>
        <p>
            You and SwissRollCall agree that any dispute, claim or controversy arising out of or relating to (a) these Terms
            or the existence, breach, termination, enforcement, interpretation or validity thereof, or (b) your access
            to or use of the Services at any time, whether before or after the date you agreed to the Terms, will be
            settled by binding arbitration between you and SwissRollCall, and not in a court of law
        </p>
        <p>
            You acknowledge and agree that you and SwissRollCall are each waiving the right to a trial by jury or to
            participate as a plaintiff or class member in any purported class action or representative proceeding.
            Unless both you and SwissRollCall otherwise agree in writing, any arbitration will be conducted only on an
            individual basis and not in a class, collective, consolidated, or representative proceeding. However, you
            and SwissRollCall each retain the right to bring an individual action in small claims court and the right to
            seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or
            threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets,
            patents or other intellectual property rights.
        </p>
        <p>
            <strong>2.2. Rules of Arbitration</strong>
        </p>
        <p>
            The agreed-to Arbitration will be administered by the American Arbitration Association (“the AAA”) in
            accordance with the AAA’s Consumer Arbitrations Rules and the Supplementary Procedures for Consumer Related
            Disputes (“the AAA Rules”) then in effect, unless otherwise expressly modified by the parties. You have
            access to the AAA Rules by calling the AAA or visiting its website.
        </p>
        <p><strong>
                2.3. Choice of Law
            </strong></p>
        <p>
            Notwithstanding any choice of law or other provision in the Terms, the parties agree and acknowledge that
            this Arbitration Agreement evidences a transaction involving interstate commerce and that the Federal
            Arbitration Act, 9 U.S.C. § 1 et seq. (“FAA”), will govern its interpretation and enforcement and
            proceedings pursuant thereto. It is the intent of the parties that the FAA and AAA Rules shall preempt all
            state laws to the fullest extent permitted by law. If the FAA and AAA Rules are found to not apply to any
            issue that arises under this Arbitration Agreement or the enforcement thereof, then that issue shall be
            resolved under the laws of the state of Illinois. Furthermore, although this Arbitration Agreement is
            expected to control, the parties agree that state or federal courts in Chicago, Illinois, shall have
            exclusive subject matter jurisdiction and venue in the event a suit can be brought notwithstanding the
            Arbitration Agreement.
        </p>
        <p><strong>
                2.4. Process
            </strong></p>
        <p>
            A party who desires to initiate arbitration must provide the other party with a written Demand for
            Arbitration as specified in the AAA Rules. The Arbitrator will be either (1) a retired judge or (2) an
            attorney specifically licensed to practice law in the state of Illinois and will be selected by the parties
            from the AAA's roster of consumer dispute arbitrators. If the parties are unable to agree upon an Arbitrator
            within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the Arbitrator in
            accordance with the AAA Rules.
        </p>
        <p>
            <strong>2.5. Severability and Survival</strong>
        </p>
        <p>
            If any portion of this Arbitration Agreement is found to be unenforceable or unlawful for any reason, (1)
            the unenforceable or unlawful provision shall be severed from these Terms; (2) severance of the
            unenforceable or unlawful provision shall have no impact whatsoever on the remainder of the Arbitration
            Agreement or the parties’ ability to compel arbitration of any remaining claims on an individual basis
            pursuant to the Arbitration Agreement; and (3) to the extent that any claims must therefore proceed on a
            class, collective, consolidated, or representative basis, such claims must be litigated in a civil court of
            competent jurisdiction and not in arbitration, and the parties agree that litigation of those claims shall
            be stayed pending the outcome of any individual claims in arbitration.
        </p>
        <p><strong>3. <span class="text-underline">License to the App and the Services</span></strong></p>
        <p>
            Subject to your compliance with these Terms, SwissRollCall grants you a limited, non-exclusive,
            non-sublicensable, revocable, non-transferable license to: (1) access and use the App and the Services
            according to these Terms; and (2) access and use any content, information, and/or related materials that may
            be made available through the Services.
        </p>
        <p>
            <strong>4. <span class="text-underline">Restrictions</span></strong>
        </p>
        <p>
            Notwithstanding the fact that the Services may include presentations of publicly available information,
            SwissRollCall retains all rights in the selection of information, the compilation of such information, and the
            presentation of such information. You may not use the App or the Services to copy, export, or otherwise
            reproduce selection, compilation, or presentation of information.
        </p>
        <p>
            Moreover, you may not (i) remove any copyright, trademark or other proprietary notices from any portion of
            the App or the Services; (ii) reproduce, modify, prepare derivative works based upon, distribute, license,
            lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise
            exploit the App or the Services except as expressly permitted by SwissRollCall; (iii) decompile, reverse
            engineer or disassemble the App or the Services except as may be permitted by applicable law; (iv) link to,
            mirror or frame any portion of the App or the Services; (v) cause or launch any programs or scripts for the
            purpose of scraping, indexing, surveying, or otherwise data mining any portion of the App or the Services or
            unduly burdening or hindering the operation and/or functionality of any aspect of the App or the Services;
            or (vi) attempt to gain unauthorized access to or impair any aspect of the Services or its related systems
            or networks.
        </p>
        <p>
            Unless you are an authorized reseller of the App or the Services, you may not display, copy, reproduce,
            license, or distribute the App or the Services, or any component thereof.
        </p>
        <p>
            <strong>5. <span class="text-underline">Access and User Accounts</span></strong>
        </p>
        <p>
            In order to use most aspects of the App and the Services, you must register for and maintain an active user
            account (a “User Account”). You must be at least 18 years of age, or the age of majority in your
            jurisdiction (if different than 18) to obtain and maintain a User Account. To obtain a User Account,
            SwissRollCall may collect information such as your first and last name, your email address, your organization,
            and/or your telephone number. You agree to provide accurate information to obtain a User Account and
            recognize that providing false information is grounds upon which SwissRollCall may deactivate and/or decline
            your use of the App or the Service.
        </p>
        <p>
            <strong>6. <span class="text-underline">Disclaimer of Liability</span></strong>
        </p>
        <p>
            THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." SwissRollCall DISCLAIMS ALL REPRESENTATIONS AND
            WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED
            WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, SwissRollCall
            MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY,
            OR AVAILABILITY OF THE SERVICES OR ANY SERVICES REQUESTED THROUGH THE USE OF THE SERVICES, OR THAT THE
            SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SwissRollCall DOES NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY
            OR ABILITY OF THIRD PARTY PROVIDERS. YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES,
            AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT
            PERMITTED UNDER APPLICABLE LAW.
        </p>
        <p>
            <strong>7. <span class="text-underline">Limitation of damages.</span></strong>
        </p>
        <p>
            SwissRollCall shall not be liable for indirect, incidental, special, exemplary, punitive, or consequential
            damages, including lost profits, lost data, personal injury, or property damage related to, in connection
            with, or otherwise resulting from any use of the App or the Services, regardless of any alleged negligence
            by SwissRollCall, even if SwissRollCall has been advised of the possibility of such damages.
        </p>
        <p>
            THE LIMITATIONS AND DISCLAIMER IN THIS SECTION DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR RIGHTS AS A
            CONSUMER THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE
            EXCLUSION OF OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR
            JURISDICTIONS, SwissRollCall’S LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW. THIS PROVISION SHALL
            HAVE NO EFFECT ON SwissRollCall’S CHOICE OF LAW PROVISION SET FORTH BELOW.
        </p>
        <p>
            <strong>8. <span class="text-underline">Intellectual Property</span></strong>
        </p>
        <p>
            All title and intellectual property rights in and to the software product (including but not limited to any
            databases, compilations of information, images, photographs, animations, video, audio, music, file formats
            and text incorporated into the App or the Services), the accompanying printed materials, and any copies of
            the software product are owned by SwissRollCall. All title and intellectual property rights in and to the
            content that is not contained in the software product, but may be accessed through use of the software
            product, is the property of the respective content owners and may be protected by applicable copyright or
            other intellectual property laws and treaties. These Terms grant you no rights or licenses to any
            intellectual property, except in connection with your authorized use of the App or the Services.
        </p>
        <p class="text-center">
            <strong><span class="text-underline">PRIVACY NOTICE</span></strong>
        </p>
        <p>
            SwissRollCall may collect certain information associated with its users. The collected information may include a
            user’s first and last name, email address, organization, and telephone number. SwissRollCall collects such
            information by asking its users to create an account with SwissRollCall prior to using SwissRollCall’s App or
            Services. The purpose for collecting this information is to allow SwissRollCall to authenticate its users, and
            to assign them access to information according to the organization to which they belong.
        </p>
        <p>
            In addition, during the course of your use of the SwissRollCall App and/or Services, you may use certain
            functionalities to report on lobbyist efforts and progress around certain bills, set legislator assignment
            for a team of lobbyists, define a roll call deadline, and share information with other individuals within
            your organization. These interactions with the App and/or Services may be stored by SwissRollCall so that it can
            be retrieved for later use, and/or to share with other individuals in your organization.
        </p>
        <p>
            To the extent necessary, SwissRollCall may share the above-described information with third party vendors who
            provide support for SwissRollCall’s Apps and Services. The information described above will be retained by
            SwissRollCall for as long as you maintain an account with SwissRollCall’s App and/or Services. Instructions for
            deleting your account, or for contacting SwissRollCall with respect to any privacy questions, are found at <a
                href="https://getSwissRollCall.com/" target="_blank">www.getSwissRollCall.com</a>.
        </p>
        <p>
            By downloading and using SwissRollCall’s App and Services, you represent that you have read this privacy policy
            and consent to the terms. To the extent allowable under applicable laws, disputes concerning SwissRollCall’s
            privacy policy shall be governed by the Arbitration Agreement found in SwissRollCall’s Terms and Conditions.
        </p>
    </div>
</div>