<div class="content">
  <div>
    <div>
      <img class="logo" src="./../../assets/logo.png" alt="login-logo" />
    </div>
  </div>
  <div class="card col-lg-4 col-md-8 col-sm-10">
    <nz-card class="card-content">
      <div class="container" *ngIf="isEnterEmail">
        <p class="forgot-password" translate>FORGOT_PASSWORD</p>
        <hr class="hr" />

        <form nz-form [formGroup]="userEmails">
          <nz-form-item>
            <nz-form-control>
              <input appFirstLetter class="inp" id="email" placeholder="Username*"
                [class.is-invalid]="email?.invalid && email?.touched" type="email" formControlName="email" />
              <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
                <small *ngIf="email?.errors?.required" class="text" translate>PLEASE_ENTER_USERNAME</small>
                <small *ngIf="email?.errors?.pattern" class="text" translate>PLEASE_ENTER_EMAIL</small>
              </div>
            </nz-form-control>
          </nz-form-item>
    
        </form>
        <div class="grid-container">
          <div class="grid-child">
            <button type="primary" block class="back" routerLink="/">
              Back
            </button>
          </div>

          <div class="grid-child">
            <button type="primary" block class="submit" (click)="onSubmit(); isEnterEmail = false " >Submit</button>
          </div>
        </div>
      </div>
     
      <div class="container" *ngIf="!isEnterEmail">
        <p class="forgot-password">Forgot Password</p>
        <hr class="hr" />
        <span nz-icon class="check-circle" nzType="check-circle" nzTheme="outline"></span>
        <div class="col text-msg">
          A temporary password has been sent to your
        </div>
        <div class="col text-msg">
          E-mail ID, for you to log into your account.
        </div>
        <div class="grid-child">
          <button type="primary" block class="submit margin-top" routerLink="/login">Ok</button>
        </div>
      </div>
    </nz-card>
    <p class="footer">© 2023 eSwissCall LLC. ALL RIGHTS RESERVED</p>
  </div>
</div>


